@font-face {
  font-family: "777Balsamtint";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Balsamtint.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: 13px/1.5 "맑은 고딕";
}

a {
  color: #333;
  text-decoration: none;
}
li {
  list-style: none;
}

/*layout style*/
#header {
  /*background:rgba(0,0,0,0.3);*/
  opacity: ;
  width: 100%;
  position: fixed;
  height: 55px;
  /*border-bottom:1px solid rgba(255,255,255,0.7);*/
  z-index: 10;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin: 0 auto;
  background: #ccc;
  position: relative;
}
header h1 {
  position: absolute;
}

header h1 img {
  padding: 10px;
}

#navi {
  position: absolute;
  width: 60%;
  right: 0;
}

/* 주메뉴 */
#mainNav {
  width: 100%;
  height: 55px;
  position: relative;
  z-index: 11;
  display: block;
}

#mainNav ul {
  overflow: auto;
}

#mainNav ul li {
  float: left;
  width: 16.66%;
  line-height: 50px;
  text-align: center;
  font-size: 1em;
}

#mainNav ul li a {
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
}

/*서브메뉴 */
#subNav {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 55px;
  display: none;
}
#subNav .subNavcontent {
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

#subNav ul {
  float: left;
  width: 16.66%;
  text-align: center;
  line-height: 2;
  padding: 10px 0;
}

#subNav ul a {
  color: white;
}

#navi a:hover,
#mainNav a:focus {
  color: #ffc;
  font-weight: bold;
}

#mainNav:hover + #subNav,
#subNav:hover {
  display: block;
}

#mainNav a:hover {
  border-bottom: 3px solid #ffc;
}

/*컨텐츠 영역*/
#container {
  position: relative;
  top: 0;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide img {
  width: 100%;
  box-shadow: 0 0 5px #555;
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.btn {
  color: rgba(255, 255, 255, 0.6);
}
.swiper-pagination {
  color: #fff;
  width: 90px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 1.2em;
  line-height: 3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#facilities {
  width: 90%;
  margin: 0 auto;
  position: relative;
  padding: 3% 0;
}

.fac {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 3% 0;
}

.fac ul {
  display: flex;
}

.fac h2 {
  height: 25px;
  border-bottom: 3px solid #4f3517;
  font-size: 1.5em;
}

.fac ul li {
  height: 20vw;
  margin: 5%;
  position: relative;
}
.fac ul li img {
  width: 100%;
  height: 100%;
}

.fac ul li .hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: none;
}

.fac ul li .hover p {
  text-align: center;
  font: 20px/1.5 "arial";
  font-weight: bold;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.fac ul li:hover .hover {
  display: block;
}

.special {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.special ul {
  display: flex;
}

.special h2 {
  white-space: nowrap;
  height: 25px;
  border-bottom: 3px solid #4f3517;
  font-size: 1.5em;
}

.special ul li {
  height: 20vw;
  margin: 5%;
  position: relative;
}

.special ul li img {
  width: 100%;
  height: 100%;
}

.special ul li .hover {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);

  display: none;
}

.special ul li .hover p {
  text-align: center;
  font: 20px/1.5 "arial";
  font-weight: bold;
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.special ul li:hover .hover {
  display: block;
}

#reservation {
  position: relative;
}

#reservation img {
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}

#roomInfo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 2;
  color: #333;
}

#roomInfo h2 {
  font-size: 3em;
}

#roomInfo p {
  font-size: 1.2em;
  font-weight: bold;
}

#roomInfo a {
  background: #333;
  width: 200px;
  height: 50px;
  display: inline-block;
  font-size: 1.2em;
  padding-top: 10px;
  margin-top: 20px;
  box-sizing: border-box;
  color: #fff;
}

/*footer*/
footer {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 50px;
  border: 1px solid #eee;
}

footer .logoB {
  position: absolute;
  top: 15px;
  left: 50px;
}

footer p {
  position: absolute;
  left: 200px;
  top: 15px;
  line-height: 2;
  padding-bottom: 30px;
  box-sizing: border-box;
}

footer .info {
  position: absolute;
  top: 15px;
  right: 400px;
}

footer .sns {
  position: absolute;
  right: 50px;
  top: 15px;
  margin: 0 8px;
}

@keyframes slide_ani {
  from,
  to {
    background: url(../image/Pmain.jpg) no-repeat center center;
    background-size: 100% 100%;
  }

  25% {
    background: url(../image/slide1.jpg) no-repeat center center;
    background-size: 100% 100%;
  }

  50% {
    background: url(../image/slide2.jpg) no-repeat center center;
    background-size: 100% 100%;
  }

  75% {
    background: url(../image/slide3.jpg) no-repeat center center;
    background-size: 100% 100%;
  }
}
