* {
  margin: 0;
  padding: 0;
}

body {
  font: 13px/1.5 "맑은 고딕";
  color: #33241d;
}

a {
  color: #333;
  text-decoration: none;
}

li {
  list-style: none;
}

#header {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  position: fixed;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  z-index: 10;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin: 0 auto;
  background: #ccc;
  position: relative;
}
header h1 {
  position: absolute;
}

header h1 img {
  padding: 10px;
  width: 60%;
}

#navi {
  position: absolute;
  width: 50%;
  right: 0;
  min-width: 500px;
}

/* 주메뉴 */
#mainNav {
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 11;
  display: block;
}

#mainNav ul {
  overflow: auto;
}

#mainNav ul li {
  float: left;
  width: 16.66%;
  line-height: 50px;
  text-align: center;
}

#mainNav ul li a {
  display: inline-block;
  padding: 0 10px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
  font-size: 1vw;
}

/*서브메뉴 */
#subNav {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 50px;
  display: none;
}
#subNav .subNavcontent {
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

#subNav ul {
  float: left;
  width: 16.66%;
  text-align: center;
  line-height: 2;
  padding: 10px 0;
}

#subNav ul a {
  color: white;
  font-size: 0.8vw;
}

#navi a:hover,
#mainNav a:focus {
  color: #ffc;
  font-weight: bold;
}

#mainNav:hover + #subNav,
#subNav:hover {
  display: block;
}

#mainNav a:hover {
  border-bottom: 3px solid #ffc;
}

#wrap {
  width: 90%;
  margin: 0 auto;
}

.subPic img {
  width: 100%;
}

#content p {
  text-align: center;
  line-height: 2;
  padding: 40px 0;
  width: 100%;
  color: #3e2005;
}

#box {
  width: 100%;
  margin: 0 auto;
}
h2 {
  font-weight: bold;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  width: 35vw;
}

/*detail view 버튼 (왼쪽 rm.1,3,5) */
.viewL {
  border: 1px solid #3b2b12;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  box-shadow: 0px 0px 1.8px 1.8px rgba(57, 43, 20, 1) inset;
  font-weight: bold;
  text-align: center;
  line-height: 3;
  margin-top: 100px;
  margin-left: 400px;
}

/*detail view 버튼 (오른쪽 rm.2,4) */
.viewR {
  border: 1px solid #3b2b12;
  font-weight: bold;
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  box-shadow: 0px 0px 1.8px 1.8px rgba(57, 43, 20, 1) inset;
  text-align: center;
  line-height: 3;
  margin-top: 100px;
  margin-left: 400px;
}
#box img {
  width: 35vw;
}
.box {
  margin: 5% 0;
}

/*Rm.101*/
.box1 {
  overflow: auto;
}

.box1 img {
  float: right;
  position: relative;
  right: 100px;
}

#box .box1 .txt {
  float: left;
  position: relative;
  left: 100px;
  line-height: 2;
}

#box ul {
  color: #3e2005;
  font-size: 14px;
  margin-top: 20px;
}

/*Rm.102*/
.box2 {
  overflow: auto;
}

.box2 img {
  float: left;
  position: relative;
  left: 100px;
}

#box .box2 .txt {
  float: right;
  position: relative;
  right: 100px;
  line-height: 2;
}

/*Rm.103*/
.box3 {
  overflow: auto;
}

.box3 img {
  float: right;
  position: relative;
  right: 100px;
}

#box .box3 .txt {
  float: left;
  position: relative;
  left: 100px;
  line-height: 2;
}

/*Rm.104*/
.box4 {
  overflow: auto;
}

.box4 img {
  float: left;
  position: relative;
  left: 100px;
}

#box .box4 .txt {
  float: right;
  position: relative;
  right: 100px;
  line-height: 2;
}

/*Rm.105*/
.box5 {
  overflow: auto;
  margin-bottom: 100px;
}

.box5 img {
  float: right;
  position: relative;
  right: 100px;
}

#box .box5 .txt {
  float: left;
  position: relative;
  left: 100px;
  line-height: 2;
}

/*Top Button*/
.top {
  width: 5vh;
  height: 5vh;
  position: fixed;
  border-radius: 50%;
  border: 2px solid #bcbcbc;
  right: 0;
  bottom: 130px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top:hover {
  background-color: #ffc;
}

.top a {
  color: #33241d;
  font-weight: bold;
  font-size: 0.8vw;
  text-align: center;
}
/*footer*/

footer {
  position: relative;
  width: 100%;
  border: 1px solid #eee;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 1% 0;
  font-size: 1vw;
  white-space: nowrap;
}

footer div {
  display: flex;
  align-items: center;
}

footer p {
  line-height: 2;
}

footer .sns a {
  padding: 0 2px;
}
