* {
box-sizing: border-box;

}

body,
div {
margin: 0;
padding: 0;
} 
body::-webkit-scrollbar {
  width: 0;
}
body{
  background-color: rgb(18, 18, 18);
  background-color: radial-gradient(circle, rgba(57,57,61,1) 0%, rgba(0,0,0,1) 100%);
  height: 100%;
}

#box{
width:50vw;
height:50vw;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
}

#wrapper {
width: 30vw;

display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
}

.card {
display: inline-block;
margin-right: 3%;
margin-bottom: 3%;
width: 9vw;
height: 12vw;
perspective: 200px;
}


.card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.card.flipped .card-inner {
transform: rotateY(180deg);
}

.card-front {
background-color: #fa5117;

}

.card-front,
.card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.card-back {
transform: rotateY(180deg);
}

.reset_btn {
  position: absolute;
  bottom:2%;
  left: 50%;
  transform: translateX(-50%);
padding: 1vw 4vw;
background: #000;
font-size:1.5vw;
color: #fff;
border-radius: 5px;
text-transform: uppercase;
}

.reset_btn:hover{
background-color: #fa5117;
}